html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #fff;
  background-color: #000;
  font-family: 'Share Tech Mono', Monospace, Courier;
}

header {
  border-bottom: 0.2rem solid #674099;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFF !important;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #674099;
  font-size: 1.2rem;
  color: #ddd;
}

strong {
    background: linear-gradient(to right, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.66);
}

pre {
    font-family: Jetbrains Mono,monospace;
    background: #0a0e14;
    padding: 18px;
    overflow: overlay;
}

p, a {
    word-break: break-word;
}

h1 {
  font-size: 2.4rem;
  color: #d1c5e0;
}

h2 {
  font-size: 2rem;
  color: #e0d8ea;
}

h3 {
    color:#efebf4;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}

a:link {
  color: #674099;
}

a:visited {
  color: #674099;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
